body{
	background-image: url(images/bg.jpg);
	background-size: cover;
}

#header{
	width: 100%;
}
p{
	font-size: 17px;
}

.nav-link{
  font-size: 18px;
  border-radius: 20px;
}
.nav-item{
	padding-right: 5px;
}
.nav-link:hover{
	background-color: rgb(161,210,255);
	border-radius: 20px;
}
.dropdown-menu{
  margin-top: 10px;
}

.dropdown-item:hover{
  border-radius: 40px;
  background-color: rgb(230,230,230);
}

div.gallery
{
	box-shadow: 3px 3px 10px grey;
}

#greybar{
	background-color: rgb(34,34,34);
}
.navbar { 
	background-color: rgba(255,255,255,.2);
	-webkit-backdrop-filter: blur(100px);
}
.semicircle{
	border-radius: 50px;
}
.form-group{
	width:50%;
	margin-left: 25%;
}
.form-control{
	height: 40px;
}